<div id="news-post">
  <img src="/<?=NEWS_IMAGES_CATALOG?><?=$post_image?>" alt="" class="post-image">
  <h2 class="title"><?=$post_title?></h2>
  <p class="information"><a href="<?=$post_link?>#comment">Оставить комментарий</a> / Просмотров: <?=$post_countOfViews?> / <a href="<?=$category_link?>"><?=$post_category?></a></p>
  <p class="description"><?=$post_description?></p>
  <a href="<?=$post_link?>" class="btn-more-info">Далее</a>
</div>
<img class="posts-separator" src="/<?=VIEW_CATALOG.VIEW_SITE?>/images/separator.png" />
