<div id="table">
  <table>
    <tr class="titles">
      <td class="id">ID</td>
      <td class="category">Категория</td>
      <td class="title">Заголовок</td>
      <td class="author">Автор</td>
      <td class="count-of-views">Просмотров</td>
      <td class="action"></td>
    </tr>
    <?=$tableContent?>
  </table>
</div>
<div id="controls">
  <form action="" method="post">
    <button type="submit" name="form-type" value="add-post">Добавить новость</button>
    <button type="submit" name="form-type" value="clear-news-feed">Очистить ленту</button>
  </form>
</div>
